<a href="https://colab.research.google.com/github/mdawkhar01/python-basics-assignment/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?
→ Data structures are ways of organizing and storing data so that it can be accessed and manipulated efficiently.  They are essential for writing efficient code and solving problems logically.

2. Explain the difference between mutable and immutable data types with examples.
→ Mutable types can be changed after creation
e.g., list, dict, set
Immutable types cannot be changed once created
e.g., int, str, tuple

In [ ]:
 # muatable
 a = [1, 2, 3]
 a[0] = 10
print(a)

[10, 2, 3]

In [ ]:
# Immutable
b = (1, 2, 3)
b[0] = 10
print(b)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

→   Lists are mutable, tuples are immutable.

Lists use more memory, tuples are more memory-efficient.

Tuples are faster to access due to immutability.

4. Describe how dictionaries store data.

→ Dictionaries store data in key-value pairs using a hash table. Keys must be immutable and unique, and they map directly to their corresponding values.

5. Why might you use a set instead of a list in Python?

→ Use a set to store unique items and for fast membership testing (checking if an item exists). Sets automatically remove duplicates.

6. What is a string in Python, and how is it different from a list?

→ A string is an immutable sequence of characters. A list is a mutable sequence of any data types. You can modify a list, but not a string.

7. How do tuples ensure data integrity in Python?

→ Since tuples are immutable, their values can't be changed, ensuring that data remains constant and secure throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?

→ A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.


9. Can lists contain different data types in Python?
→ Yes, Python lists can hold elements of mixed data types.

In [ ]:
My_list = [1, "hello", 3.4, True]
type(My_list)

list

10. Explain why strings are immutable in Python.
→ Strings are immutable for performance and security reasons. This allows Python to safely reuse string objects and store them in a shared memory space.

11. What advantages do dictionaries offer over lists for certain tasks?
→ Dictionaries allow fast lookups by key (O(1) time complexity) and provide semantic labeling via keys, unlike lists that use numeric indices.

12. Describe a scenario where using a tuple would be preferable over a list.
→ When you want to store a fixed collection of items that shouldn’t change, like GPS coordinates (lat, long) or database record keys.

13. How do sets handle duplicate values in Python?
→ Sets automatically eliminate duplicates. Adding a duplicate item has no effect.

In [ ]:
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
→

In lists: Checks if a value is present.

In dictionaries: Checks if a key is present

In [ ]:
5 in [1, 2, 5]

True

In [ ]:
'key' in {'key': 'value'}

True

15. Can you modify the elements of a tuple? Explain why or why not.
→ No. Tuples are immutable, so their elements cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case.
→ A nested dictionary is a dictionary with another dictionary as a value.

In [ ]:
students = {
  "101": {"name": "Alice", "grade": "A"},
  "102": {"name": "Bob", "grade": "B"},
}
print(students["101"]["grade"])

A

Useful for structured data like databases or JSON.

17. Describe the time complexity of accessing elements in a dictionary.
→ Dictionary access is O(1) on average, due to the underlying hash table.

18. In what situations are lists preferred over dictionaries?
→ When you need:

Ordered collection

Fast iteration

Indexed access by position

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
→ Prior to Python 3.7, dictionaries did not guarantee order. In Python 3.7+, they maintain insertion order but are still optimized for key access, not order traversal.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
→

List: Retrieval by index (position), e.g., my_list[2]

Dictionary: Retrieval by key, e.g., my_dict["name"]


1.  Write a code to create a string with your name and print it

In [1]:
Name = "Madhumita"
print(Name)

Madhumita

2. Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text ="Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [4]:
text = "hello"
print(text.upper())

HELLO

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [7]:
numbers = [ 1 , 2 , 3 , 4 , 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [10]:
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [14]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [16]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [18]:
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [19]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [21]:
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [22]:
number = (10, 20, 5, 15)
print(min(number))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [23]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Create a tuple with 3 fruits and check if "kiwi" is in it

In [24]:
fruit = ("apple", "banana", "orange")
print("kiwi" in fruit)

False

16. Create a set with elements 'a', 'b', 'c' and print it

In [27]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [28]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Remove the element 4 from the set {1, 2, 3, 4}

In [29]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Find the union of sets {1, 2, 3} and {3, 4, 5}

In [30]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}

In [31]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Create a dictionary with keys "name", "age", and "city" and print it

In [32]:
person = {
  "name": "Madhumita",
  "age": 21,
  "city": "pune"
}
print(person)

{'name': 'Madhumita', 'age': 21, 'city': 'pune'}

22. Add "country": "USA" to {'name': 'John', 'age': 25}

In [33]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value of "name" in {'name': 'Alice', 'age': 30}

In [34]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [35]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [36]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Create and print a list, a tuple, and a dictionary

In [37]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"key1": "value1", "key2": "value2"}
print(my_list, my_tuple, my_dict)

[1, 2, 3] ('a', 'b', 'c') {'key1': 'value1', 'key2': 'value2'}

27. Create a list of 5 random numbers between 1 and 100, sort, and print

In [38]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[16, 18, 53, 73, 94]

28. Create a list with strings and print the element at index 3

In [39]:
words = ["one", "two", "three", "four", "five"]
print(words[3])

four

29. Combine two dictionaries and print the result

In [40]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set

In [41]:
words = ["apple", "banana", "cherry"]
word_set = set(words)
print(word_set)

{'cherry', 'apple', 'banana'}