1. Explain the key features of Python that make it a popular choice for programming
- versatality
- Simplicity
- Good ecosystem of libraries

In [15]:
# 2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
'''
 Keywords are reserved words in python that have special meaning and cannot be used as identifiers (variable names, function meaning etc)
eg. if, else, for, def, class, import, try, expect, return, true,false, none, etc.
'''
Weather = "sunny"
if Weather == "sunny":
  print("wear shorts")
else:
  print("wear pants")

wear shorts

3. Compare and contrast mutable and immutable objects in Python with examples .

   - In python changable objects are called mutable, and non changable are called immutable objects. examples of mutable are listt and dictionaries, it can be modified after creation. Immutable objects are tuples and string. -

In [21]:
#Example of mutable
my_list=[1,2,3]
my_list[0]=100
print(my_list)

[100, 2, 3]

In [22]:
#example of immutable
my_string="madhu"
my_string[0]="n" #it will throw error

TypeError: 'str' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used

In [26]:
# Arithmatic operator. Example
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
3
10
2.5

In [27]:
# Comparison operators
a=5
b=2
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False

In [28]:
# logical operators
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

5. Explain the concept of type casting in Python with examples
       - The process of changing the data type of a value.

In [29]:
# Type casting >> Implict and explicit type casting
#Implicit typecasting example
a=5   #int
b=2.5 #float
result=a+b
print(result)

7.5

In [33]:
#explicit typecasting
a="123"
b=int(a)
print(b)

123


6. How do conditional statements work in Python? Illustrate with examples
  - Helps you to code decision based on some pre conditions.
  * if
  * else
  * elif

  Example

In [38]:
age =20
if age>18:
  print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are eligible to vote

7. Describe the different types of loops in Python and their use cases with examples
   - There are two loops - for loop and while loop

   loop is Used to iterate over a sequence.  example

In [39]:
Fruits = ("apple"," banana"," mango")
for fruit in Fruits:
  print(fruit)

apple
 banana
 mango

In [41]:
count=5
while count >0:
  print(count)
  count = count - 1

5
4
3
2
1